body{
font-family:Arial;
background:#eef2f7;
margin:0
}

nav{
background:#111827;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

.box{
background:white;
margin:25px;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px #ccc;
}

input,button{
padding:10px;
margin:5px;
border-radius:8px;
}

.cards{
display:flex;
gap:20px;
}

.cards div{
background:#e0e7ff;
padding:25px;
border-radius:12px;
}
